.root {
  display: inline-block;
  width: 100%;
  height: 48px;
  font-size: 20px;
  min-width: 90px;
  padding: 2px 12px;
  border-radius: 8px;
  border: black 1px solid;
  background-color: white;
  cursor: pointer;
}

.root[data-is-selected="true"] {
  color: white;
  font-weight: bold;
  background-color: #2ccf9e;
}
