.PrefCheckBox-root {
  display: inline-block;
  width: 100%;
  min-width: 90px;
  padding: 2px 12px;
  border-radius: 8px;
  border: black 1px solid;
  cursor: pointer;
}

.PrefCheckBox-root[data-is-selected="true"] {
  color: white;
  font-weight: bold;
  background-color: #2ccf9e;
}

.PrefCheckBox-checkbox {
  display: none;
}
