.App {
  text-align: center;
}

.App-container {
  max-width: 900px;
  padding: 0px 10px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
}

.App-blank {
  height: 20px;
}

.PrefCheckBox {
  width: 100%;
}

.ErrorMessage {
  color: #d50000;
}

.Chart-container {
  margin-top: 20px;
}
